.browser {
  width: 100%;
}

.browser.selected {
  border-color: blue;
}

/* customization */
.browser-widget li.file,
.browser-widget li.directory {
  width: 80px;
}

.browser-menu {
  opacity: 0.8;
  background: whitesmoke;
}

.browser-menu .rename,
.browser-menu .delete {
  display: none;
}

.adress-bar {
  flex: 1 1 auto;
}

.page-wrapper .browser-widget *:focus,
.ui-dialog .browser-widget *:focus {
  color: #041626;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 5px #aec2cc !important;
}

.page-wrapper .adress-bar *:focus,
.ui-dialog .adress-bar *:focus {
  outline: 2px dotted transparent;
  outline-offset: -2px;
  box-shadow: 0 0 0 2px #aec2cc inset;
}

.ui-menu .add-to-field {
  color: #08435f;
  background: #fff;
}

.ui-menu .add-to-field,
.ui-menu .add-to-field::before {
  text-transform: uppercase;
  font-weight: 500;
}

.ui-menu .add-to-field .ui-menu-item-wrapper::before {
  margin-right: 0.5rem;
  content: "+";
  font-size: 1.25rem;
  font-weight: 900;
}

.ui-menu .ui-menu-item-wrapper {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25) !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  color: #fff !important;
  background: #08435f;
}

.browser-widget .adress-bar button {
  margin: 5px;
}

.browser-widget .adress-bar input {
  width: calc(100% - 40px - 20px) !important;
  margin: 5px;
}

.browser-widget .toolbar li:not(.disabled):hover::before {
  filter: invert(84%) sepia(25%) saturate(168%) hue-rotate(155deg) brightness(89%) contrast(84%);
}

.browser-widget .toolbar li:not(.disabled):focus::before,
.browser-widget .toolbar li:not(.disabled):active::before {
  filter: brightness(0) saturate(100%) invert(8%) sepia(22%) brightness(94%) saturate(2188%) hue-rotate(170deg) contrast(101%);
}

.browser-widget .toolbar ul:not(.ui-menu) > li {
  width: 3.25rem;
}

.browser-widget .toolbar {
  display: flex;
  flex-direction: row-reverse;
  text-transform: uppercase;
  font-size: 11px;
}

.browser-widget .content ul:not(.ui-menu) li > span:first-of-type {
  display: inline-block;
  overflow: hidden;
  max-height: 4.5em;
  text-overflow: ellipsis;
}

.browser-widget .content ul:not(.ui-menu) li span.hide {
  position: absolute;
  z-index: 10;
  top: 3em;
  left: 0;
  display: none;
  padding: 5px;
  white-space: nowrap;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.browser-widget .content ul:not(.ui-menu) li {
  position: relative;
  cursor: pointer;
}

.browser-widget .content ul:not(.ui-menu) li:hover > span.hide {
  display: block;
}
