{{ attach_library('link_filebrowser/browser.block') }}
<div class="browser-block" data-url_scan="{{ url_scan }}" data-url="{{ url }}" data-google_viewer="{{ google_viewer }}" data-folder="{{ folder }}" data-all="{{ all }}"></div>
